html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 300;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  color: var(--neutral-lightGrayishBlue);

  &.noScroll{
    overflow: hidden;
  }
}

//text
h1,h2,h3{
  margin-top: 0px;
  font-weight: 300;
  color: var(--primary-darkBlue);
  line-height: 1.15;
  
}

h1{
  
  font-size: 3.2rem;
  margin-bottom: 3.2rem;

  @include breakpoint-up(large){
    font-size: 4rem;
    margin-bottom: 3.6rem;
  }
}

h2{
  font-size: 3rem;
  margin-bottom: 3rem;

  @include breakpoint-up(large){
    font-size: 3.6rem;
    margin-bottom: 3.2rem;
  }
}

h3{
  font-size: 2rem;
  margin-bottom: 2.4rem;

  @include breakpoint-up(large){
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
}

p{
  margin-bottom: 2.2rem;
  line-height: 1.5;
}



a, a:visited, a:hover{
  text-decoration: none;
  cursor: pointer;
}

//spacing

.container{
  
  max-width: 111rem;
  margin: 0 auto;

  &--p{
    padding-top: 7.0rem;
    padding-right: 2.4rem;
    padding-bottom: 7.0rem;
    padding-left: 2.4rem;

    @include breakpoint-up(large){
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }

  &--py{
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include breakpoint-up(large){
      padding-top: 9.6rem;
      padding-bottom: 9.6rem;
    }
  }
  &--px{
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  &--pt{
    padding-top: 7rem;

    @include breakpoint-up(large){
      padding-top: 9.6rem;
    }
  }
  &--pr{
    padding-right: 2.4rem;
  }
  &--pb{
    padding-bottom: 7rem;

    @include breakpoint-up(large){
      padding-bottom: 9.6rem;
    }
  }
  &--pl{
    padding-left: 2.4rem;
  }

}

//Flexbox
.flex{
  display: flex;
  
  &-jc-sb{
    justify-content: space-between;
  }
  
  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }

}

//button
button, .button{
  padding: 1.4rem 3.5rem;
  border-radius: 50px;
  outline: none;
  border: 0;
  background: linear-gradient(to right, var(--primary-limeGreen), var(--primary-brightCyan));
  color: var(--neutral-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  transition: opacity 300ms ease-in-out;
  display: inline-block;

  &:hover{
    opacity: 0.75;
  }
}

//visibility
.hide-for-mobile{
  //hide-for-mobile devices
  @include breakpoint-down('medium'){
    display: none;
  }
}

.hide-for-desktop{
  //hide-for-desktop devices
  @include breakpoint-up('large'){
    display: none;
  }
}