html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 300;
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  color: var(--neutral-grayishBlue);
}

a, a:visited, a:hover{
  text-decoration: none;
  cursor: pointer;
}

//Flexbox
.flex{
  display: flex;
  
  &-jc-sb{
    justify-content: space-between;
  }
  
  &-jc-c{
    justify-content: center;
  }

  &-ai-c{
    align-items: center;
  }

}

//button
button, .button{
  padding: 1.6rem 3.4rem;
  border-radius: 50px;
  outline: none;
  border: 0;
  background: linear-gradient(to right, var(--primary-limeGreen), var(--primary-brightCyan));
  color: var(--neutral-white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}

//visibility
.hide-for-mobile{
  //hide-for-mobile devices
  @include breakpoint-down('medium'){
    display: none;
  }
}

.hide-for-desktop{
  //hide-for-desktop devices
  @include breakpoint-up('large'){
    display: none;
  }
}