.app__header{

  nav{
    padding: 1.65rem 2.4rem;
  }

  &-logo{

    img{
      height: 2.2rem;
      width: 14.1rem;
    }

  }

  &-menu{   //mobile menu
      
    > span{
      display: block;
      width: 26px;
      height: 2px;
      background-color: var(--primary-darkBlue);

      &:not(:last-child){
        margin-bottom: 3px;
      }
    }
  }

  &-links{

    a{
      position: relative;
      font-size: 1.4rem;
      color: var(--neutral-grayishBlue);
      transition: color 300ms ease-in-out;

      &:not(:last-child){
        margin-right: 3.2rem;
      }

      &::after{
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background:linear-gradient(to right, var(--primary-limeGreen), var(--primary-brightCyan));
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover{
        color: var(--primary-darkBlue);

        &::after{
          opacity: 1;
        }
      }
    }
  }
}