.app__header{

  // Hamburger Animations
  &.open{

    .header-toggle{
      > span:first-child {
        transform: rotate(45deg);
        top: -5px;
        left: 5px;
      }
  
      > span:nth-child(2) {
        opacity: 0;
      }
  
      > span:last-child {
        transform: rotate(-45deg);
        top: 5px;
        left: -5px;
      }
    }

  }

  .overlay{
    background-image: linear-gradient(var(--primary-darkBlue),transparent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;

    &.fade-in{

    }
  }

  nav{
    position: relative;
    background-color: #fff;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
  }

  &-logo{

    img{
      height: 2.2rem;
      width: 14.1rem;
    }

  }

  &-toggle{   //mobile menu
      
    > span{
      display: block;
      width: 26px;
      height: 2px;
      background-color: var(--primary-darkBlue);
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child){
        margin-bottom: 5px;
      }
    }

  }

  &-links{

    a{
      position: relative;
      font-size: 1.4rem;
      color: var(--neutral-grayishBlue);
      transition: color 300ms ease-in-out;

      &:not(:last-child){
        margin-right: 3.2rem;
      }

      &::after{
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        background:linear-gradient(to right, var(--primary-limeGreen), var(--primary-brightCyan));
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }

      &:hover{
        color: var(--primary-darkBlue);

        &::after{
          opacity: 1;
        }
      }
    }
  }

  &-menu{
    position: absolute;
    width: calc(100% - 4.8rem);
    left: 50%;
    transform: translateX(-50%);
    background: var(--neutral-white);
    padding: 2.6rem;
    margin-top: 2.4rem;
    border-radius: 5px;
    a{
      display: block;
      padding: 1rem;
      color: var(--primary-darkBlue);
      text-align: center;
    }
  }
}

