//$darkBlue : hsl(233, 26%, 24%);
// $limeGreen :hsl(136, 65%, 51%);
// $brightCyan :hsl(192, 70%, 51%);
// $grayishBlue :hsl(233, 8%, 62%);
// $lightGrayishBlue: hsl(233, 8%, 62%);
// $veryLightGray:hsl(0, 0%, 98%);
// $white:hsl(0, 0%, 100%);

// color
:root{
  --primary-darkBlue:hsl(233, 26%, 24%);
  --primary-limeGreen:hsl(136, 65%, 51%);
  --primary-brightCyan:hsl(192, 70%, 51%);
  --neutral-grayishBlue:hsl(233, 8%, 62%);
  --neutral-lightGrayishBlue:hsl(233, 8%, 62%);
  --neutral-veryLightGray:hsl(0, 0%, 98%);
  --neutral-white:hsl(0, 0%, 100%);
}





